.org-profile-page {
  @include normal-text;
  margin: 2em 0em;
  margin-left: -100px;

  // .test {
  //   border: 1px solid red;
  // }

  & p {
    margin-top: 23px;
  }

  &-logo {
    grid-column-end: span 2;
    grid-row-end: span 2;
    // color: red;
    // border: 1px solid red;
    padding: 0;
  
  }

  &-grey-banner {
    background: #f8f8f8;
    border-radius: 5px;
    padding: 2em;
    margin-top: 36px;
  }

  &-rating {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 15px;
    margin-left: 50px;

    & h6 {
      margin-bottom: 0;
      margin-left: 8px;
      font-size: 14px;
    }
  }
  &-header-text {
    // margin-left: 29px;
    & h3 {
      font-size: 45px;
      font-weight: bold;
      margin-bottom: 15px;
    }
    & h6 {
      font-size: 14px;
      font-weight: 600;
    }
  }

  &-poc {
    width: 100%;
    margin-left: 15px;
  }

  & h5 {
    font-size: 18px;
    font-weight: bold;
  }

  & p {
    font-size: 14px;
    margin: 0;
    margin-top:5px;
  }

  &-info,  &-poc-title{
    margin-top: 36px;
  }

  &-connect-button {
    @include normal-text;

    background-color: #a54c36;
    font-size: 18px;
    color: white;
    border: none;
    height: 44px;
    border-radius: 3px;
    padding: 0 30px;
  }

  &-bio {
    margin-top: 23px;
  }
}
