.tag-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  &-tag {
    background-color: $yellow;  
    border-radius: 3px;
    margin-right: 10px;
    padding: 2px 8px;
    margin-top: 5px;
    
    font-size: 14px;
  }
}
