$light-brown: #FDFAF4;
$selected-light-brown: #F5F1E9;
$light-grey: #D7D7D7;
$grey: #DFE1E6;
$yellow: #FFE380;
$grey-background: #E5E5E5;

$font-stack: 'SF Pro Text', sans-serif;
$normal-text-color: #42526E;
$brown-text-color: #6A4E2E;

@mixin text() {
  font-family: $font-stack;
  font-style: normal;
  font-weight: normal;
}

@mixin normal-text() {
  @include text;
  color: $normal-text-color;
}

@mixin brown-text() {
  @include text;
  color: $brown-text-color;
}

@mixin card-border() {
  border-style: solid;
  border-color: $light-grey;
  border-radius: 5px;
  border-width: 1px;
}